#FOR MALONEPRESS REPOSITORY
node_modules
src/vendors
assets/*
!assets/index.php
.git
.DS_Store
*.orig

#FOR PROJECT REPOSITORY
#wp-content/themes/**/node_modules
#wp-content/themes/**/src/vendors
#wp-content/uploads
#.git
#.DS_Store
*.orig
