// measures

max-content-width = 960px

spacing = 20px
fill = 20px

// text sizes

basic-font-size = 16px

main-title-font-size = 21px
secondary-title-font-size = 18px

// colors

main-color = #160e44
secondary-color = #00adee

main-font-color = #160e44
secondary-font-color = #00adee
