
/*
* Stylus forms.
*/

.form 
	input, textarea 
		fontRegular(14px)
		color: fontColor
		border: 1px solid fontColor
		background: none
		width: 400px
		padding: 5px
		margin: 10px 0px
		&::-webkit-input-placeholder
			opacity: 1
			color: fontColor
		&::-moz-placeholder
			opacity: 1
			color: fontColor
		&.red
			border-left: 4px solid #ff0000
		&.green 
			border-left: 4px solid #23ea14
	textarea 
		height: 150px;
	input#enviar 
		background: #FFF
		color: fontColor
		border-radius: 10px
		border: none
		width: 80px
		text-transform: uppercase
		cursor: pointer
		&:hover 
			margin-left: 2px