@import "kouto-swiss"

// automatic uses color-fallback() function - http://kouto-swiss.io/docs.html#color-fallback
ks-color-fallback-enabled = true

@import "jeet"

normalize()
box-sizing-reset()

@import "_variables"
@import "_mixins"
@import "_fonts"
@import "_utils"

@import "_general"

@import "./components/*"

@import "./pages/*"
