
/*
* Stylus mixins.
*/

border-radius()  
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

fontR()
	font-family: 'openSansRegular', Verdana, Sans-Serif
	font-weight: normal
	font-size: arguments

fontB()
	font-family: 'openSansBold', Verdana, Sans-Serif
	font-weight: normal
	font-size: arguments
	
ablock()
	display: block
	width: inherit
	height: inherit
	text-indent: -9999px;

alink()
	text-decoration: none
	color: inherit
	
box-sizing()
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
